<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <img class="logo" src="/images/logo.jpg" alt="logo"/>
    </header>
    <div class="container">
      <div class="items">
    <h1>Your Future Pet</h1>
    <h2><%=pets.species%></h2>
      </br>
    <img src="/images/<%=pets.img%>"/>
      </br>
    There are <%=pets.qty%> <%=pets.breed%> <%=pets.species%> that cost $<%=pets.price%> each. To help with choosing if this pet is right for you, please view the rating. All animals are rated on a care scale, 1 being the easiest level of care (perfect for first time pet owners) and 5 being an advanced level of care. This pet is rated a <%=pets.rating%>.
    <% if(pets.readyToGo === true) { %>
      These <%=pets.species%> are ready to go home!
      <% } else { %>
        These <%=pets.species%> have a waiting period before they are ready to go home!
        <% } %>
      </br>
      Reviews:
      </br>
      <%=pets.review%>
    </div>
    <div class="navBar">
      <nav>
        <% include ./partials/nav.ejs %>
      </nav>
    </div>
  </div>
  </body>
</html>
